package ${basePackage}.stater.service;
import org.mybatis.spring.annotation.MapperScan;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

/**
 * @author se7en
 * @date 2021/11/11
 **/
@Configuration
@MapperScan("cn.yematech.user.service.dao")
public class ServiceConfig {
}